.child{
    width: 100px;
    height: 100px;
    color: white;
    background-color: chocolate;
    margin: 5px;
    padding: 10px;
    font-size:2em;
}
#container{
    display: flex;
   /* flex-direction: row; default*/
    flex-wrap: wrap;/* default*/
   justify-content: center;
    /* align-items: center;*/
    height: 85vh;
    align-items:center;
    align-self: flex-end;
}